.detail-movie-page{
    margin: 0;
    background-color: black;
}
.background{
    display: flex;
    position: relative;
}
.background__left{
    flex: 0 0 25%;
    background-color: black;
    position: relative;
}
.background__right{
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
}
.img-thump-gray{
    width: 100%;
}

.banner-detail-movie {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.background__left:before {
    margin-left: -1px;
    content: '';
    position: absolute;
    z-index:1;
    background-image: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
    background-image: linear-gradient(to right, #000, transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 30vw;
}
.list-item{
    padding: 0px 10px;
}
.content-rating{
    background-color: #262626;
    border-radius: 0.5rem;
}
.resolution{
    background-color: #fff;
    color: black;
    border-radius: 0.5rem;
    padding: 0px 5px;
    font-weight: bold;
}
.list-item i{
    color: red;
}
.detail-movie-page .dynamic-tabs-detail {
    position: absolute;
    bottom: 0;
    z-index: 7;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nav-detail{
    display: flex;
}
.nav__item{
    list-style: none;
    padding: 0px 20px;
    font-size: 1.3rem;
    font-weight: 700;
}